rules_version = '2';
// todo: data validation
service cloud.firestore {
  match /databases/{database}/documents {
    // users can read their own metadata but not write
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid;

      // users can read/write their own graphs and if public is true, anyone can read the graph
      match /graphs/{gid} {
        allow read: if request.auth.uid == uid || resource.data.public == true;
        allow write: if request.auth.uid == uid;
      }
      // no touchy
      match /private/{doc} {
        allow read, write: if false;
      }
    }
    // users can publish feedback if they're logged in and submit feedback under their own uid
    match /feedback/{id} {
      allow read: if false;
      allow create: if request.resource.data.uid == request.auth.uid &&
        request.auth.uid != null;
    }
  }
}